<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>      
    @Styles.Render("~/Content/css") 
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("ViewSpecificStyles", false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Over ons", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Online Party Solutions</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")

    @*if there is a "ViewSpecificScripts" section in the a view, then the javascript in that section will be rendered at this
        place in the layout page. So that section can be used for javascript that must be applied to a page but not to all pages.
        (for example the client side validation bundle)*@
    @RenderSection("ViewSpecificScripts", required: false)
</body>
</html>
